@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-family: 'Inter', sans-serif;
    font-size: 16px;

   
    --color-bg: #ffffff;
    --color-nav-bg: #ffffff;
    --color-primary: #006747;
    --color-text: #006747;
    --color-hover: #fce300;

    --color-leaderboard-text: #006747;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


@media (prefers-color-scheme: dark) {
  :root {
      --color-bg: #121212;
      --color-nav-bg: #006747;
      --color-primary: #ffffff;
      --color-text: #ffffff;
      --color-leaderboard-text: #006747;
      --color-hover: #fce300;
}

}

body{
  background-color: var(--color-bg);
}

.main-title{
  font-size: 2rem;
  font-weight: 200;
  color: var(--color-text);
  text-align: center;
  margin: 1rem;
}

.img{
  width: 100%;
  margin: 1rem 0rem;
  object-fit: cover;
  height: 200px;
}